.hud-element.minimized {
  transform: translateY(
    calc(-1 * ((3vh * var(--gapScale)) + (5vh * var(--scale))))
  );
  width: var(--size);
  z-index: 2;
  // background-color: transparent;
  .hud-icon {
    &.danger {
      animation: none;
    }
    .hud-icon-indicator {
      height: calc(var(--size) * var(--status));
      position: absolute;
      z-index: -1;
      width: 100%;
      bottom: 0;
    }
  }
  .hud-indicator-outer {
    opacity: 0;
    .hud-indicator-inner {
      background-color: var(--background-color);
    }
  }
}
